<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SAVEIT.</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <header>
      <div class="menu">
        <a href="/"><img
            src="https://i.ibb.co/FHVcDcb/logo.png"
            alt="logo"
            border="0"
            class="logoheader"
          /></a>

        <a href="/">today</a>
        <a href="/">last month</a>
        <a href="/">last year</a>

      </div>
      <div>
        <a href="/plus"><img
            src="https://i.ibb.co/NSXvnGP/plus.png"
            alt="icon"
            border="0"
            class="icon"
          /></a>
        <a href="/save"><img
            src="https://i.ibb.co/7KsdSWr/save-icon.png"
            alt="icon"
            border="0"
            class="icon"
          /></a>
        <a href="/login"><img
            src="https://i.ibb.co/9s4SrCv/login-icon.png"
            alt="icon"
            border="0"
            class="icon"
          /></a>
      </div>
    </header>

    {{{body}}}

    <footer>
      <a href="/impressum">Impressum</a>
    </footer>
  </body>

</html>