<div class="login">

  <div class="container">
    <h1>Login</h1>
    <form action="/login" enctype="multipart/form-data" method="post">
      Benutzername:
      <input type="text" name="username" /><br />
      Passwort:
      <input type="password" name="passwort" /><br />
      <button type="submit">Login</button>
    </form>
    <p> I don’t have an account yet. <a href="/Register">Register</a></p>
  </div>

</div>