<div class="upload-page">
    <h1>Bild hochladen</h1>
    <form action="/upload" enctype="multipart/form-data" method="post">
        <label for="autor">Autor:</label>
        <input type="text" id="autor" name="autor" required />
      
        <label for="image">Bild auswählen:</label>
        <input type="file" name="dateiname" />
      
        <button type="submit">Hochladen</button>
      </form>
      