<h1>Monday design inspiration.</h1>
<h2>new inspiration every day</h2>

<div class="bilder-grid">
  {{#each bilder}}
    <div class="bild-container">
      <img src="/uploads/{{this.dateiname}}" alt="Bild" />

      <form action="/save/{{id}}" enctype="multipart/form-data" method="POST" class="save-btn">
        <input type="image" src="https://i.ibb.co/7KsdSWr/save-icon.png">
      </form>
      
    </div>
  {{/each}}
</div>

