<h1>Monday design inspiration.</h1>
<h2>new inspiration every day</h2>

<ul>
    {{#each bilder}}
      <li>
        <h3>{{this.titel}}</h3>
        <p>{{this.beschreibung}}</p>
        <img src="/uploads/{{this.dateiname}}" alt="{{this.titel}}" width="200" />
      </li>
    {{/each}}
  </ul>