@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

* {
  font-family: "Outfit";
  font-weight: 400;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: #fff;
}

footer {
  text-align: center;
  color: #a6a6a6;
  padding: 30px;
}

footer a {
  color: #a6a6a6;
  text-decoration: none;
}

header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.menu {
  display: flex;
  gap: 30px;
  align-items: center;
}

.icon {
  width: 30%;
}

header a {
  color: #a6a6a6;
  text-decoration: none;
}

header a:active {
  color: #fff;
}

h1 {
  color: #fff;
  font-size: 50pt;
  text-align: center;
  line-height: normal;
}

h2 {
  color: #a6a6a6;
  font-size: 30pt;
  text-align: center;
  line-height: normal;
}

/* Login */

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.container {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.container p {
  text-align: center;
}

.container p a {
  color: #a6a6a6;
  text-decoration: none;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
}

button {
  background-color: #efefef;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  font-weight: 600;
}

button:hover {
  opacity: 0.8;
}

/* Upload-Seite */
.upload-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  color: #a6a6a6;
}

.upload-page h2 {
  font-size: 30pt;
  margin-bottom: 20px;
}

.upload-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.upload-form label {
  font-size: 14pt;
  color: #efefef;
}

.upload-form input[type="text"],
.upload-form textarea,
.upload-form input[type="file"] {
  width: 100%;
  padding: 12px;
  margin: 5px 0;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  color: #bbbbbb;
  font-size: 12pt;
  box-sizing: border-box;
}

.upload-form textarea {
  resize: vertical;
  height: 100px;
}

.upload-form input[type="file"] {
  padding: 8px;
}

.upload-form button {
  background-color: #efefef;
  color: black;
  font-size: 14pt;
  font-weight: 600;
  padding: 14px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.upload-form button:hover {
  opacity: 0.8;
}


.bilder-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 Bilder pro Reihe */
  gap: 20px; /* Abstand zwischen den Bildern */
  margin: 20px;
}

.bild-container img {
  width: 100%; /* Bilder passen sich an die Spaltenbreite an */
  height: auto; /* Proportionen des Bildes beibehalten */
  border-radius: 10px; /* Optionale abgerundete Ecken */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Optionaler Schatten */
}


.bild-container {
  position: relative; /* Damit der Button unten rechts positioniert werden kann */
}

.bild-container .save-btn {
  position: absolute;
  bottom: 8px;
  left: 10px;
  cursor: pointer;
}

.bild-container .save-btn:hover {
  opacity: 0.8;
}
